.button {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
}

.purple {
  background-color: var(--color-purple);
}

.yellow {
  background-color: var(--color-yellow);
}

.shadow {
  color: #dfdfdf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 50%;
}

@media (width <= 1024px) {
  .button {
    font-size: 10px;
  }
}
