.shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 50%);
  opacity: 0%;
  transition: opacity 0.5s ease-in-out;
}

.shadow.open {
  pointer-events: auto;
  opacity: 100%;
}

.shadow.close {
  pointer-events: none;
  opacity: 0%;
}

.menuBar {
  position: fixed;
  top: 0;
  right: 0; /* 기본적으로 화면 밖에 숨김 */
  z-index: 1000;
  width: 500px;
  height: 100%;
  padding-top: 40px;
  color: white;
  background-color: #161520;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out; /* right 속성에 transition 추가 */
}

.menuBar.open {
  transform: translateX(0%);
}

.menuBar.close {
  transform: translateX(100%);
}

.closeBtn {
  margin-bottom: 30px;
  margin-left: 40px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
}

.divider {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid #d7d6dc; /* 구분선 스타일 */
}

.menuList {
  padding: 60px 0 0;
  list-style: none;
}

.menuList li {
  margin: 0 0 27px;
}

.menuList li a {
  font-size: 26px;
  color: white;
  text-decoration: none;
}

.menuItem {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 66px;
}

.menuItem:hover {
  cursor: pointer;
  background-color: #252337;
  border-left: 6px solid #d9d9d9;
}

.menuBarBottom {
  position: fixed;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bottomTitle {
  font-family: 'Times New Roman', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 33px;
  color: #dfd5b4;
  text-decoration: none;
}

.bottomText {
  font-family: 'Times New Roman', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  color: #6e6e6e;
  text-decoration: none;
}
