@import url('./reset.css');

:root {
  --color-black: #010019;
  --color-purple: #6659f5;
  --color-yellow: #cb8802;
}

body {
  margin: 0 auto;
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  word-break: keep-all;
}
