.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/src/assets/img/unsplash.svg');
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
}

.logo {
  padding: 30px;
  font-family: 'Times New Roman', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #dfd5b4;
  text-decoration: none;
}

.navLine {
  width: 100%;
  height: 2px;
  background-color: #343347;
}

.nav {
  display: flex;
  gap: 30px;
  padding: 10px;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 18px;
}

.nav a {
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}

.nav a.active {
  color: #f6c25c;
}

.pageRoot {
  flex: 1;
}

@media (width <= 768px) {
  .logo {
    padding: 20px;
    font-size: 40px;
  }

  .nav {
    gap: 20px;
    padding: 5px;
  }
}

@media (width <= 480px) {
  .logo {
    font-size: 20px;
  }

  .nav {
    font-size: 10px;
  }
}
