.editorContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 30px;
}

.gameHeader {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 14px;
  border-bottom: solid 4px rgba(255, 255, 255, 80%);
}

.leftHeader {
  display: flex;
  gap: 10px;
  align-items: center;
}

.currentLevel {
  font-weight: 600;
}

.totalLevel {
  color: #9f9f9f;
}

.gameMain {
  display: flex;
  gap: 50px;
}

.btnContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.info {
  display: flex;
  flex: 0.6 0 0;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-family: 'Cafe24 Danjunghae', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.description {
  font-family: MaruBuri, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 164%;
  letter-spacing: 0.26px;
  white-space: pre-wrap;
}

/* 백틱 코드 블록 */
.keyword {
  padding: 4px;
  color: #ffd7d7;
  background-color: rgba(255, 255, 255, 20%);
  border-radius: 5px;
}

.subSection {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subSectionTitle {
  font-family: MaruBuri, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.otherCode {
  padding: 16px;
  margin-top: 8px;
  overflow-x: auto;
  font-size: 14px;
  color: #24292e;
  white-space: pre;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.htmlEditor {
  flex: 0.4 0 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 41%);
  border-radius: 6px;
}

.cssEditor {
  flex: 0.4 0 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 41%);
  border-radius: 6px;
}

.cssInput {
  padding: 5px 3px;
  text-align: center;
  outline: none;
  background-color: #f6f8fa;
  border: none;
  border-radius: 6px;
}

/* CodeMirror 줄 숫자 바 스타일 */
.htmlEditor :global(.cm-gutters) {
  background-color: rgba(0, 0, 0, 20%) !important;
  border-right: 1px solid rgba(255, 255, 255, 10%) !important;
}

.htmlEditor :global(.cm-gutterElement) {
  color: rgba(255, 255, 255, 50%) !important;
}

.htmlEditor :global(.cm-activeLineGutter) {
  background-color: rgba(255, 255, 255, 10%) !important;
}

.codePreview {
  background-color: #f6f8fa;
  border-radius: 6px;
}

@media (width <= 768px) {
  .editorContainer {
    padding: 0 10px;
  }

  .info {
    gap: 20px;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
  }
}
