.latestTitle {
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 18px; /* 90% */
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  overflow-y: hidden;
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 322px;
  height: 214px;
  overflow: hidden;
  cursor: pointer;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
