.container {
  display: flex;
  gap: 27px;
  padding: 10px 0;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-bottom: solid 2px #d9d9d9;
}

.infoHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoHeaderRow {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.summary {
  display: flex;
  gap: 20px;
  border-bottom: solid 4px rgba(199, 199, 203, 50%);
}

.summaryItem {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #dfdfdf;
  text-align: center;
}

.language {
  font-family: Lancelot, sans-serif;
  font-size: 61px;
  font-weight: 400;
  line-height: 65px;
}

.description {
  margin-bottom: 19px;
  font-size: 16px;
  line-height: 27px;
  color: #dfdfdf;
  white-space: pre-line;
}

.tumbnailImg {
  flex: 1;
  max-width: 391px;
  background: rgba(217, 217, 217, 20%);
}
